*.la
*.lo
*.o
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/install-sh
/libmpq-config
/libmpq.pc
/libmpq/.libs/
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h1
